<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/images/cuffieBianche.png" class="logo" alt="logo Moseca(jukebox)">
    <span>Moseca</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  style="color: white" routerLink="home">
            <fa-icon [icon]="casetta"></fa-icon>
            Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: white">
            <fa-icon [icon]="penna"></fa-icon>
            Autori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: white" routerLink="canzoni">
            <fa-icon [icon]="disco"></fa-icon>
            Canzoni</a>
        </li>
        <li class="nav-item">
          <button class="btn"  id="navbar-collapse" type="button"  data-toggle="collapse" data-target="#collapseGeneri" aria-expanded="false" aria-controls="collapseGeneri" (click)="isCollapsed = !isCollapsed" style="color: white">
            <fa-icon [icon]="musica"></fa-icon>
            Generi
          </button>
          <!-- <div class="collapse-menu" id="collapseCategory" style="color: white">
            <a class="dropdown-item" >Pop</a>
            <a class="dropdown-item" >Rock</a>
            <a class="dropdown-item" >Rap</a>
            <a class="dropdown-item" >Lirica</a>
            <a class="dropdown-item" >Trap</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Something else here</a>
          </div> -->
          <div class="collapse" id="collapseGeneri"[ngbCollapse]="isCollapsed">
            <button class="btn bottone-genere" cursor="pointer" routerLink="/categoria/pop" (click)="isCollapsed = !isCollapsed" >pop</button>
          </div>
          <div class="collapse" id="collapseGeneri" [ngbCollapse]="isCollapsed">
            <button class="btn bottone-genere" cursor="pointer" routerLink="/categoria/rap" (click)="isCollapsed = !isCollapsed">rap</button>
          </div>
          <div class="collapse" id="collapseGeneri" [ngbCollapse]="isCollapsed">
            <button class="btn bottone-genere" cursor="pointer" routerLink="categoria/tutte/rock" (click)="isCollapsed = !isCollapsed">rock</button>
          </div>
          <div class="collapse" id="collapseGeneri" [ngbCollapse]="isCollapsed">
            <button class="btn bottone-genere" cursor="pointer" routerLink="categoria/tutte/trap" (click)="isCollapsed = !isCollapsed">trap</button>
          </div>
          <div class="collapse" id="collapseGeneri" [ngbCollapse]="isCollapsed">
            <button class="btn bottone-genere" cursor="pointer" routerLink="categoria/tutte/lirica" (click)="isCollapsed = !isCollapsed">lirica</button>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: white" routerLink="registrazione">
            <fa-icon [icon]="utente"></fa-icon>
          registrati
          </a>
        </li>
        <li class="nav-item" id="nuovaCanzone">
          <a class="nav-link"  style="color: white" routerLink="nuova-canzone">
            <fa-icon [icon]="vinyl"></fa-icon>
            Nuova Canzone</a>
        </li>
      </ul>
      <form class="form-inline-my-2-my-lg-0">
        <input class="form-control-mr-sm-2" type="search" placeholder="cerca canzone" aria-label="Search">
        <button class="btn-btn-outline-success-my-2-my-sm-0" type="submit" style="color:  #a50b5db2">
          <span>
            <fa-icon [icon]="lente"></fa-icon>
          </span>
        </button>
      </form>
    </div>
  </nav>

</header>
