<div class="container-sm nuova-canzone col-10">
  <div class="row" id="contenitore-row">
    <form class="col-8" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2     id="nuova-canzone">Nuova Canzone</h2>

      <div class="mb-3">
        <input type="text" class="form-control" id="autore" name="autore" placeholder="scrivi il nome del' autore"
          formControlName="author" />
        <label for="autore" class="form-label">autore della canzone</label>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="titolo" name="titolo" placeholder="scrivi il titolo della canzone"
          formControlName="title" />
        <label for="titolo" class="form-label">titolo della canzone</label>
      </div>

      <div class="mb-3">
          <ckeditor [editor]="editor" [config]="editorConfig" class="form-control text" name="text"formControlName="text"></ckeditor>
        <label for="testo" class="form-label">testo della canzone</label>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="img" name="immagine" placeholder="inserisci l'indirizzo dell'immagine"
          formControlName="image" />
        <label for="immagine" class="form-label">indirizzo dell'immagine</label>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="data" name="data" placeholder="inserisci la data di publicazione"
          formControlName="date" />
        <label for="data" class="form-label"> data di publicazione della canzone</label>
      </div>

      <div class="mb-3">

        <select class="form-select" aria-label="Default select example" name="categoria" formControlName="category">
          <option value="pop">pop</option>
          <option value="rap">rap</option>
          <option value="trap">trap</option>
          <option value="rock">rock</option>
          <option value="lirica">lirica</option>
        </select>
        <label for="categoria" class="form-label">seleziona la categoria della canzone</label>
      </div>


      <div class="mb-3 form-check" id="checkBox">
        <input type="checkbox" class="form-check-input" id="published" name="published" formControlName="published" />
        <label class="form-check-label" for="published">publicazione canzone</label>
      </div>

      <div class="bottone">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >
          Crea Canzone
        </button>
      </div>

    </form>

  </div>



</div>
<ng-template [ngIf]="modal">
  <div id="contenitore-globale">
    <div class="contieni-card-congratulazioni">
      <div class="congratulazioni">
        <h2>Congratulazioni la tua canzone è stata inserita</h2>
      </div>
      <div class="container-card">
        <div class="card">
          <div class="card-image" [ngStyle]=" {'background-image': 'url('+ form.value.image +')'}"> </div>
          <div class="card-body">
            <h5 class="card-title">titolo : <span style="color: #A50B5B;">{{form.value.title}}</span></h5>
            <h5 class="card-title">autore : <span style="color: #A50B5B;">{{form.value.author}}</span></h5>
            <p class="card-text">{{form.value.text | slice: 0:500}}...</p>
            <p class="card-text">data di pubblicazione: {{form.value.date}}</p>
            <p class="card-text">categoria: {{form.value.category}}</p>
          </div>
        </div>
       </div>

  <button class="btn bottone-nuova" cursor="pointer" (click)="nuovaCanzone()">Nuova Canzone</button>
  <button class="btn croce" cursor="pointer" (click)="vaiCanzoni()">
    <i class="pi pi-times-circle"></i>
  </button>
  </div>


    </div>



</ng-template>
