<div class="container-fluid">
<div class="container-sm-image" [ngStyle]="{ 'background-image': 'url(' + canzone.image + ')' }"></div>
<div class="container-seconda-imagine" [ngStyle]="{ 'background-image': 'url(' + canzone.image + ')' }"></div>
<div class="container-terza-imagine" [ngStyle]="{ 'background-image': 'url(' + canzone.image + ')' }"></div>
</div>
<div class="container-testo-canzone">
<div class="container-fascia">
  <p class="titolo-fascia">titolo:{{canzone.title}}</p>
</div>
<div class="testo-scritto">
<p>{{canzone.text}}</p>
</div>
</div>

