.container-cards {
  display: block;
  margin-bottom: 20px;

  margin-left: 20px;


  .card {
    width: 23%!important;
    margin-left: 1.2%;
    float: left;//
    margin-bottom: 20px;
    border-color: #A50B5E;
    border-radius: 29px 29px 20px 20px;
    border-width: 4px;
  }

  .card-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px 25px 0px 0px;
  border-color: #A50B5E;
  border-width: 2px!important;
  }

  .card-title{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 16px;
    color:  #A50B5E!important;
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:  #A50B5E!important;
    --bs-btn-border-color: #A50B5E!important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A50B5E!important;
    --bs-btn-hover-border-color: #A50B5E!important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:  #A50B5E!important;
    --bs-btn-active-border-color:  #A50B5E!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #A50B5E!important;
    --bs-btn-disabled-border-color: #A50B5E!important;
    margin-top: 20px;
    width: 340px;
    margin-left: -18px;
    margin-bottom: -20px;
    border-radius: 0px 0px 20px 20px;
  }
  .card-body{
   p{
  margin-bottom: -1px;
   }
  }
  }

.container-pop{
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;

  .pop-card{
    width: 23%!important;
    margin-left: 1.2%;
    float: left;//
    margin-bottom: 20px;
    border-color: #4F86F7	;
    border-radius: 29px 29px 20px 20px;
    border-width: 4px;
  }

  .pop-image{
    height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px 25px 0px 0px;
  border-color: #4F86F7	;
  border-width: 2px!important;
  }

  .pop-title{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 16px;
    color:  #4F86F7	!important;
  }

  .pop-button{
   border-color: #4F86F7;
   background-color: #4F86F7;
    color: #fff;
    margin-top: 20px;
    width: 340px;
    margin-left: -18px;
    margin-bottom: -20px;
    border-radius: 0px 0px 20px 20px;
  }
  .pop-body{
    p{
      margin-bottom: -1px;
       }
  }
}

.container-rap{
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  .rap-card{
    width: 23%!important;
    margin-left: 1.2%;
    float: left;//
    margin-bottom: 20px;
    border-color: #652DC1	;
    border-radius: 29px 29px 20px 20px;
    border-width: 4px;
  }
  .rap-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 25px 0px 0px;
    border-color: #652DC1	;
    border-width: 2px!important;
  }
  .rap-title{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 16px;
    color:  #652DC1	!important;
  }
  .rap-button{
    border-color: #652DC1;
    background-color: #652DC1;
     color: #fff;
     margin-top: 20px;
     width: 340px;
     margin-left: -18px;
     margin-bottom: -20px;
     border-radius: 0px 0px 20px 20px;
  }
  .rap-body{
    p{
      margin-bottom: -1px;
       }
  }
}
