
<div class="container-cards" *ngIf="!wantedCategory">
      <div class="card" style="width: 18rem;" *ngFor="let canzone of canzoni; let i = index">
        <div class="card-image" [ngStyle]=" {'background-image':'url(' + canzone.image +')'}"></div>
        <div class="card-body">
          <h5 class="card-title">{{canzone.title}}</h5>
          <p class="card-text-author"><strong>canzone:</strong> {{canzone.author}}</p>
          <p class="card-text-category"><strong>categoria:</strong> {{canzone.category}}</p>
          <p class="card-text-date"><strong>data di pubblicazione:</strong> {{canzone.date}}</p>
          <div class="brando">
            <a routerLink="testo/{{canzone._id}}" class="btn btn-primary">Testo</a>
          </div>
        </div>
      </div>
</div>
<div class="container-pop" *ngIf="wantedCategory ==='pop'">
  <div class="card pop-card" style="width: 18rem;" *ngFor="let canzone of canzoniFilter; let i = index">
    <div class="card-image pop-image" [ngStyle]=" {'background-image':'url(' + canzone.image +')'}"></div>
    <div class="card-body pop-body">
      <h5 class="card-title pop-title">{{canzone.title}}</h5>
      <p class="card-text-author"><strong>canzone:</strong> {{canzone.author}}</p>
      <p class="card-text-category "><strong>categoria:</strong> {{canzone.category}}</p>
      <p class="card-text-date"><strong>data di pubblicazione:</strong> {{canzone.date}}</p>
      <div class="brando">
        <a routerLink="testo/{{canzone._id}}" class="btn btn-primary pop-button">Testo</a>
      </div>
    </div>
  </div>

</div>

<div class="container-rap" *ngIf="wantedCategory ==='rap'">
  <div class="card rap-card" style="width: 18rem;" *ngFor="let canzone of canzoniFilter; let i = index">
    <div class="card-image rap-image" [ngStyle]=" {'background-image':'url(' + canzone.image +')'}"></div>
    <div class="card-body rap-body">
      <h5 class="card-title rap-title">{{canzone.title}}</h5>
      <p class="card-text-author"><strong>canzone:</strong> {{canzone.author}}</p>
      <p class="card-text-category "><strong>categoria:</strong> {{canzone.category}}</p>
      <p class="card-text-date"><strong>data di pubblicazione:</strong> {{canzone.date}}</p>
      <div class="brando">
        <a routerLink="testo/{{canzone._id}}" class="btn btn-primary rap-button">Testo</a>
      </div>
    </div>
  </div>

</div>
