<div class="container-cards">
      <div class="card" style="width: 18rem;" *ngFor="let canzone of canzoni; let i = index">
        <div class="card-image" [ngStyle]=" {'background-image':'url(' + canzone.image +')'}"></div>
        <div class="card-body">
          <h5 class="card-title">{{canzone.title}}</h5>
          <p class="card-text-author"><strong>canzone:</strong> {{canzone.author}}</p>
          <p class="card-text-category"><strong>categoria:</strong> {{canzone.category}}</p>
          <p class="card-text-date"><strong>data di pubblicazione:</strong> {{canzone.date}}</p>
          <a href="#" class="btn btn-primary">Testo </a>
        </div>
      </div>
</div>
