/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
}

ngb-carousel{
  margin-top:-19px;
margin-bottom: 20px;

img {
width: 1550px!important;
height:570px!important;
}

h3{
  padding-bottom: 240px;
  font-family: 'Luckiest Guy', cursive;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 1!important;
  .carousel-control-next-icon, .carousel-control-prev-icon {
    margin-bottom: 250px;
  }
}

section{
height: 270px;

  .fascia{
    background-color:  #A50B5E!important;
   height: 20px;
   margin-top: 1px;
  }

  .citazione{
    text-align: center;
    width: 40%;
    padding-top: 20px;
  padding-left: 40px;
  margin-left: 28%;

  }
  }
}



footer{
  height: 60px;
  background-color:  #A50B5E!important;//#73338
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
