/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
}

ngb-carousel{
  margin-top:-19px;
margin-bottom: 20px;

img {
width: 1550px!important;
height:570px!important;
}

h3{
  font-family: 'Luckiest Guy', cursive;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 0.5!important;
}
}



footer{
  height: 60px;
  background-color:  #A50B5E!important;//#73338
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
