.registrazione {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: solid #A50B5E;
  border-radius: 20px;

  form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-left: 100px;
    margin-bottom: 40px;
  }

  #nome {
    border: 1px solid #A50B5E !important;
    border-radius: 10px;
    margin-left: -25px !important;
    width: 430px !important;
  }

  #cognome {
    border: 1px solid #A50B5E !important;
    border-radius: 10px;
    margin-left: -25px !important;
    width: 430px !important;
  }

  #email {
    margin-top: -4px !important;
    border: 1px solid #A50B5E !important;
    border-radius: 10px;
    margin-left: -25px !important;
    width: 430px !important;
  }

  #password {
    border: 1px solid #A50B5E !important;
    border-radius: 10px;
    margin-left: -25px !important;
    width: 430px;
  }

  #immagine {
    background-position: center;
    background-size: cover;
    border-radius: 18px 0px 0px 18px;
    margin-right: -2px;
    border-right: solid #A50B5E;

  }

  .bottone {
    margin-left: 50%;

    .btn-primary {
      background-color: #A50B5E !important;
      border: #A50B5E !important;
      border-radius: 20px;
    }
  }

  h2 {
    text-align: center;
    font-weight: bolder;
    margin-left: 150px !important;
    color: #A50B5E !important;
  }

  .form-label {
    margin-left: -24px !important;
  }

  .form-select {
    width: 430px;
    border: 1px solid #A50B5E !important;
    border-radius: 10px;
    margin-left: -13px !important;
  }
}









input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid {
  border: 2px solid rgb(0, 255, 0);
}

@media only screen and (min-width: 650px) and (max-width: 959px){
  .registrazione{
    .row{
      display: flex!important;
      flex-direction: column!important;
      form{
        width: 700px!important;
        flex-direction: column;

        input{
          margin-bottom: 10px;
        }

        .tendina{
          select{
            margin-bottom: 10px;
          }
        }

        h2{
          margin-left: 0px!important;
          text-align: start;
        }
      #immagine{
        height: 0px;
        background-size: 0px;
      }
      .bottone{
        display: block;
        margin-left: 0%!important;
      }
    }
    }

    }


}

@media only screen and (min-width: 481px) and (max-width: 649px){

  .registrazione{
    .row{
      display: flex!important;
      flex-direction: column!important;
      form{
        width: 700px!important;
        flex-direction: column;

        input{
          margin-bottom: 10px;
        }

        .tendina{
          margin-left: -25px;
          select{
            margin-bottom: 10px;
          }
        }

        h2{
          margin-left: 0px!important;
          text-align: start;
        }
      #immagine{
        height: 0px;
        background-size: 0px;
      }
      .bottone{
        display: block;
        margin-left: 0%!important;
      }
    }
    }

    }

}

@media only screen and (min-width: 0px) and (max-width: 480px){

  .registrazione{
    .row{
      display: flex!important;
      flex-direction: column!important;
      form{
        width: 700px!important;
        flex-direction: column;

        input{
          margin-bottom: 10px;
        }
        #nome{
          width: 350px!important;
        }

        #cognome{
          width: 350px!important;
        }

        #email{
          width: 350px!important;
        }

        #password{
          width: 350px!important;
        }

        .tendina{
          margin-left: -25px;
          select{
            margin-bottom: 10px;
            width: 350px!important;
          }
        }

        h2{
          margin-left: 0px!important;
          text-align: start;
        }
      #immagine{
        height: 0px;
        background-size: 0px;
      }
      .bottone{
        display: block;
        margin-left: 0%!important;
      }
    }
    }

    }

}
