<div class="container-sm registrazione col-12">

  <div class="row">

    <div class="col-6" [ngStyle]="{ 'background-image': 'url(https://wallpaperaccess.com/full/1891198.jpg)'}" id="immagine" alt="immagine musica"></div>
    <form class="col-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Registrati</h2>

      <!-- <div class="mb-3"> -->
        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
        <input type="text" class="form-control" id="nome" name="name" placeholder="scrivi il tuo nome" formControlName="name" pInputText>
        <label for="nome" class="form-label"> il tuo nome</label>
      </span>
      </div>
      <!-- <div class="mb-3"> -->
        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
        <input type="text" class="form-control" id="cognome" name="cognome" placeholder="scrivi il tuo cognome" formControlName="cognome" pInputText>
        <label for="cognome" class="form-label">il tuo cognome </label>
      </span>
      </div>
      <!-- <div class="mb-3"> -->
        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
        <input type="email" class="form-control" id="email" name="email" placeholder="scrivi la tua email" formControlName="email" pInputText>
        <label for="email" class="form-label"> la tua email</label>
      </span>
      </div>
      <div class="container tendina">
        <select class="form-select" aria-label="Default select example" name="cateogriaPreferita" formControlName="categoriaPreferita">
          <option *ngFor=" let genere of generi;let i = index">{{genere}}</option>
        </select>
        <label for="categoriaPreferita" class="form-label">la tua categoria preferita</label>
      </div>
      <!-- <div class="mb-3"> -->
        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
        <p-password [toggleMask]="true" class="form-control"  id="password"
        name="password" formControlName="password" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"></p-password>
      <label for="password" class="form-label">la tua Password</label>
      </span>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="accetto" name="accetto" formControlName="accetto">
        <label class="form-check-label" for="accetto">dichiaro di accettare i termini di servizio</label>
      </div>
      <div class="bottone">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">registrati</button>
      </div>
    </form>
  </div>
  </div>
